# Ignore python virtual environment
my_env

# Ignore compiled bytecode files
__pycache__

# Ignore all .pyc files/folders
*.pyc

# Ignore .DS_Store
.DS_Store

# Ignore files containing inputs for the app.
inputs_read_from_file